@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

body {
    font-family: "Lato", sans-serif;
}

.cabin {
    font-family: "Cabin", sans-serif;
}

@theme {
    --shadow-purple: 0px 1px 15px 0px #5E13F687;
    --shadow-black: 0px -4px 27px 0px #00000029;
    --shadow-lightblack: 0px -3.01px 20.32px 0px #00000029;
    --shadow-inner: 4px 6px 4px 0px #00000040 inset;



    /* common page purple */
    --color-purple: #5E13F6;

    /* text subheading and footer */
    --color-darkblue: #1B1E3C;

    /* bglightpurple components */
    --color-bglightpurple: #F8F5FF;

    --color-bgred: #FF3B61;
    --color-bgpink: #FF4DF5;
    --color-bgcyan: #00F0FF;
    --color-bglavender: #D5C7FF;

}

/* backgroundcolor */

.bgred {
    background-color: var(--color-bgred);
}

.bgpink {
    background-color: var(--color-bgpink);
}

.bgcyan {
    background-color: var(--color-bgcyan);
}

.bglightpurple {
    background-color: var(--color-bglightpurple);
}

.bglavender {
    background-color: var(--color-lavender);
}


/* common */
.purple {
    background-color: var(--color-purple);
}

.textpurple {
    color: var(--color-purple);
}

/* footer and subheading */
.darkblue {
    background-color: var(--color-darkblue);
}

/* shadows */

.shadowinner {
    box-shadow: var(--shadow-inner);
}

.shadowpurple {
    box-shadow: var(--shadow-purple);
}

.shadowblack {
    box-shadow: var(--shadow-black);
}

.shadowlightblack {
    box-shadow: var(--shadow-lightblack);

}

/* color change of scrollbar  */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 8px;
}
